<div class="welcome-content">
  <form class="form-contentw" [formGroup]="welcomeForm">
    <div class="container-text-log-wel">
      <h2>WELCOME!</h2>
    </div>
    <div class="wht">
      <h4>What do You Want to do Today?</h4>
    </div>
    <div class="button-container">
      <div class="register-button">
        <button mat-raised-button color="primary">Register People</button>
      </div>
      <div class="view-button">
        <button mat-raised-button color="primary">View List</button>
      </div>
    </div>
  </form>
</div>
