.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10%;

  .form-content {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgb(54, 54, 54);
    text-align: center;
    border-radius: 10px;
    width: 30%;
    height: 350%;
    transition: all 0.5s ease-in-out;
  }

  .form-content:hover {
    box-shadow: 0 30px 60px 0 #566573;
  }
}

.input-login {
  border: none;
  color: black;
  padding: 0px;
  text-align: left;
  font-size: 16px;
  margin: 5px;
  width: 90%;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.error-message {
  font-size: 10px;
  color: rgb(255, 65, 65);
  font-family: Italic, Helvetica, sans-serif;
}

.container-text-log {
  padding-top: 20px;
  color: black;
  font-family:
    Medium Italic,
    Helvetica,
    sans-serif;
}

.user-icon {
  width: 80px;
  margin-top: 0px;
  display: flex;
  padding-top: 5px;
}

.icon-but {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 20px;
  padding-top: 20px;
}

a{
  color: black;
}

.error-message {
  position: relative;
  margin-bottom: 20px;
}

.input-login {
  border: none;
  border-bottom: 2px solid #9a9a9a;
  padding: 5px;
}

.input-login:focus {
  outline: none;
  border-color: black;
}

.register-link {
  color: black;
  text-decoration: none;
  font-family:
    Medium Italic,
    Helvetica,
    sans-serif;
  font-size: 12px;
}

.flat-flex-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  font-size: 10px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.container-button1 {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-inline: 15px;
}

.container-button2 {
  display: flex;
  justify-content: right;
  align-items: right;
  padding-inline: 15px;
  padding-bottom: 10px;
}
