.register-content {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  margin: 10%;

  .form-contentr {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgb(54, 54, 54);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 35%;
    height: 47rem;
    transition: all 0.5s ease-in-out;
  }

  .form-contentr:hover {
    box-shadow: 0 30px 60px 0 #566573;
  }
}

.input-register:focus {
  outline: none;
  border-color: black;
}

.container-text-log-reg {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family:
    Medium Italic,
    Helvetica,
    sans-serif;
}

.example-full-width {
  display: inline-flex;
  padding: auto;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
}

.example-full-width-address {
  display: inline-flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.code {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: right;
  align-items: right;
}
.code-tel {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: left;
  align-items: left;
}

.email-pass {
  display: inline-flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.example-full-width-city {
  display: inline-flex;
  padding-bottom: 2px;
  justify-content: center;
  align-items: center;
}

.send-button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.prefix{
  padding-left: 15px;
}
