<div class="register-content">
  <form class="form-contentr" [formGroup]="registerForm">
    <a routerLink="/welcome" class="icon-but">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
    </a>
    <div class="container-text-log-reg">
      <h2>Register</h2>
      <h3>Create Your Account!</h3>
    </div>
    
    <div>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input formControlName="name" matInput />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput />
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-form-field class="email-pass">
          <mat-label>Your email</mat-label>
          <input matInput placeholder="pat@example.com" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <!-- HIDE BUTTON
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        -->
        </mat-form-field>
       
          <mat-form-field class="example-full-width-address">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. Av. Paulista"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width-adress">
            <mat-label>Address 2</mat-label>
            <textarea matInput placeholder="Ex. Rua Oscar Freire"></textarea>
          </mat-form-field>
   

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width-city">
                <mat-label>City</mat-label>
                <input matInput placeholder="Ex. São Paulo" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width-city">
                <mat-label>State</mat-label>
                <input matInput placeholder="Ex. São Paulo" />
              </mat-form-field>
            </td>
            <td></td>
          </tr>
        </table>
        <mat-form-field class="code">
          <mat-label>Postal Code</mat-label>
          <input
            matInput
            #postalCode
            maxlength="9"
            placeholder="Ex. 12000-000"
          />
        </mat-form-field>
        <mat-form-field class="code-tel">
          <mat-label>Telephone</mat-label>
          <span class="prefix" matPrefix>+55 &nbsp;</span>
          <input type="tel" matInput placeholder="011 12345-1234" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
        <div class="back-button">
          <button mat-flat-button routerLink="/welcome">↩ Back</button>
        </div>
        <div class="send-button">
          <button mat-raised-button color="primary" routerLink="/welcome">Register</button>
        </div>
      </form>
    </div>
  </form>
</div>
