<div class="pass-content">
  <form class="form-contentp" [formGroup]="passwordForm">
    <a routerLink="/welcome" class="icon-but">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
    </a>
    <div class="container-text-log-pass">
      <h2>Password</h2>
      <div class="img-container">
        <img
          src="assets/images/user-profile.jpg"
          alt="User Icon"
          class="user-icon"
        />
      </div>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      ></button>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-flat-button routerLink="/login">↩ Back</button>
    </div>
    <div class="container-button">
      <button
        mat-raised-button
        color="primary"
        (click)="submitPassword()"
        routerLink="/welcome"
      >
        Login
      </button>
    </div>
  </form>
</div>
